<!-- 2 RECOMMENDED BOOKS -->
	<div class>
    <div class="row test">

    	<!-- FIRST RECOMMENDED BOOK  -->
      <div class="col-md-5 vertical-center-row recommended-books-test">
        <img alt="<%=recommendedBooks[0].title%>" class="recommended-book-img" src="<%=recommendedBooks[0].coverUrl%>" data-holder-rendered="true">
        
				<!-- ADD BOOK TO BOOKSHELF BUTTON -->
        <div class="row center">
        	<div class="col-md-12">
            <form method="post" action="/bookshelf" class="">
              <input type="text" class="invisible" name="bookId" value="<%=recommendedBooks[0]._id%>">
              <button type="submit" class="btn icon-btn btn-success">
                <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
              </button>
            </form>
          </div>
        </div>
      </div>

      <!-- BOOK OF ORIGIN -->
      <div class="col-md-2 origin-book-div">
        <img alt="<%=originBook[0].title%>" class="origin-book-img" src="<%=originBook[0].coverUrl%>" data-holder-rendered="true">
      </div>

      <!-- SECOND RECOMMENDED BOOK -->
      <div class="col-md-5 recommended-books-test">
        <img alt="<%=recommendedBooks[1].title%>" class="recommended-book-img" src="<%=recommendedBooks[1].coverUrl%>" data-holder-rendered="true">
        
        <!-- ADD BOOK TO BOOKSHELF BUTTON -->
        <div class="row center">
          <div class="col-md-12">
            <form method="post" action="/bookshelf">
              <input type="text" class="invisible" name="bookId" value="<%=recommendedBooks[1]._id%>">
              <button type="submit" class="btn icon-btn btn-success">
                <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
              </button>
            </form>
          </div>
        </div>
      </div>

    </div>
	</div>