<% include ./partials/header.ejs %>

<!-- TODO add back in bookshelf partial -->

		<!-- this is where ONLY THE ADMIN will be able to edit and delete recently saved books -->

	<!-- SAVED BOOK FORM -->
	<div class="container-fluid">
		<div class="row">
			
			<!-- ACROSS THE TOP -->
			<div class="alert alert-success" role="alert">
				Your book has been added successfully!
			</div>
			<h1 class="new-book-title">New Book:</h1>

			<!-- LEFT COLUMN -->
				<div class="col-md-2">
					<!-- SAVED BOOK IMAGE -->
					<img class="edit-book-img" alt="<%= newBook.title %>" src="<%= newBook.coverUrl %>"></img>
				</div>

			<!-- RIGHT COLUMN -->
			<!-- SAVED BOOK DATA -->
			<div class="col-md-10 new-book">
				<div class="row">
					<p class="col-md-2 saved-book-title">Book title</p>
					<p class="col-md-10 left-align"><%= newBook.title %></p>
				</div>
				<div class="row">
					<p class="col-md-2 saved-book-title">Authors</p>
					<p class="col-md-10 left-align"><%= newBook.authors %></p>
				</div>
				<div class="row">
					<p class="col-md-2 saved-book-title">Sample text</p>
					<p class="col-md-10 left-align"><%= newBook.sampleText %></p>
				</div>

				<!-- NLP DATA -->
				<div class="row">
					<div class="col-md-3">
						<p class="saved-book-title">Book analysis</p>
        	</div>
        	<div class="col-md-2 left-align">
        		<i class="fa fa-smile-o" aria-hidden="true"></i>
        	</div>
        
        	<div class="col-md-2">
	      		<ul class="origin-book-nlp-list">
        			<% for(var i = 0; i < 5; i++) { %>
	      				<li class="left-align"><%= newBook.entities[i] %></li>
	      			<% } %>
        		</ul>
        	</div>
        </div>
				
				<!-- EDIT AND SUBMIT BUTTONS -->
				<div class="row admin-buttons">
					<div class="col-md-6">
						<button type="submit" class="btn icon-btn btn-warning edit-btn" data-id="<%= newBook._id %>">
							<span class="glyphicon btn-glyphicon glyphicon-edit img-circle text-warning"></span>
							Edit
						</button>
					</div>
					<div class="col-md-6">
						<button type="submit" class="btn icon-btn btn-danger delete-btn" data-id="<%= newBook._id %>">
							<span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span>
							Delete
						</button>
					</div>
				</div>

			</div>
		</div>
	</div>	


<!-- TODO add back in books partial -->

<% include ./partials/footer.ejs %>