<% include ./partials/header.ejs %>

<!-- TODO add back in bookshelf partial -->

		<!-- this is where ONLY THE ADMIN will be able to edit and delete recently saved books -->
		<ul>
			<li><%= newBook._id %></li>
			<li><%= newBook.title %></li>
			<li><%= newBook.author %></li>
			<li><%= newBook.coverUrl %></li>
			<li><%= newBook.sampleText %></li>
			<li><%= newBook.entities %></li>
			<li><%= newBook.sentimentMagnitude %></li>
			<li><%= newBook.sentimentScore %></li>
			<li><%= newBook.sentiment %></li>
			<li><%= newBook.createdBy %></li>
		</ul>

<!-- TODO add back in books partial -->

<% include ./partials/footer.ejs %>